################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/GloomhavenCampaignTracker.Droid/bin/Debug
/.vs
/GloomhavenCampaignTracker.Droid/obj
